ASSIGNMENT - WEEK 1

Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [48]:
#Answer 1)i
Str1 = "Arpit"
Str1

'Arpit'

In [49]:
#(ii)
l = [1, 2.5, 'Arpit', True]
l

[1, 2.5, 'Arpit', True]

In [50]:
#(iii)
f = 2.5
f

2.5

In [52]:
#(iv)
t = (1,2,'Arpit', True)
t

(1, 2, 'Arpit', True)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable

In [23]:
#Answer 2
#(i)
var1 = ''
type(var1)

str

In [26]:
#(ii) 
var2 = '[ DS , ML , Python]'
type(var2)

str

In [30]:
#(iii)
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [32]:
#(iv)
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	*

In [53]:
#(i) /  Division operator
a = 5/4
a

1.25

In [54]:
#(ii) % Modulus operator
b = 7%3
b

1

In [56]:
#(iii) // Floor divison operator
c = 7//4
c

1

In [62]:
#(iv) ** exponentiation operator
d = 6**4
d

1296

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [68]:
#Answer 4
l = [1, True, 2.6, [2, 2.5, 'abc'], (1,2,'abc'), False, 'Arpit', 8, 9.8, 'Ten']

In [69]:
for i in l :
    print(i ,'-', type(i))

1 - <class 'int'>
True - <class 'bool'>
2.6 - <class 'float'>
[2, 2.5, 'abc'] - <class 'list'>
(1, 2, 'abc') - <class 'tuple'>
False - <class 'bool'>
Arpit - <class 'str'>
8 - <class 'int'>
9.8 - <class 'float'>
Ten - <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [84]:
# Answer 5
A = 56
B = 2
count = 0
while A%B == 0:
    A = A/B
    count = count + 1
print('the number of times A is purely divisible by B is ', count)

the number of times A is purely divisible by B is  3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [92]:
# Answer 6
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i % 3 == 0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [98]:
#Answer 7

The Mutable data types are data types which can be modified after being created example - List

The Immutable data types are data types which cannot be modified after being created example - String

In [99]:
#Give examples for both showing this property.

In [100]:
# Mutable
l = [1, 'Arpit', 3.6]
l[1] = True
print(l)

[1, True, 3.6]

In [101]:
# Immutable
s = 'Arpit'
s[2] = 'c'
print(s)

TypeError: 'str' object does not support item assignment